<table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
               <% products.forEach(data=>{ %>
                    <tr>
                        <th><%= data.id %></th>
                        <td><%= data.name %></td>
                        <td><%= data.desc %> </td>
                        <td scope="col"><%= data.price %></td>
                        <td>
                            <img src=" <%= data.imageUrl %>" />
                        </td>
                    </tr>

               <% }) %>           
            </tbody>
        </table>
    </div>
</body>

</html>